repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1  # Use the ref you want to point at
    hooks:
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=2"
          - "--top-keys=dev,beta,stable,changelogs,title,items"
      - id: trailing-whitespace
  - repo: https://github.com/ambv/black
    rev: 21.12b0
    hooks:
    - id: black
